<div class= "container">
  <div class="card-trip">
      <%#= cl_image_tag @field.photo.key, height: 300, width: 400, crop: :scale %>
      <div class="card-trip-infos">
          <div>
            <h2><%= @field.name %></h2>
            <ul>
            <li> <%= @field.address %> </li>
            <li> <%= @field.phone_number %> </li>
            </ul>
            <% @field.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
            <br>
            <br>
            <h2>Reseñas</h2>
            <ul>
            <% @reservations.each do |reservation| %>
              <% reservation.reviews.each do |review| %>
                <li> <%= review.content %> </li>
              <% end %>
            <% end %>
            </ul>
          </div>
        <h2 class="card-trip-pricing">$1500</h2>
      </div>
  </div>

  <div class="botones-centrados">
    <% if user_signed_in? %>
      <% if policy(@field).update? %>
        <%= link_to 'Editar', edit_field_path(@field.id), class: 'btn btn-primary' %>
        <% else %>
        <%= link_to 'Reservar', new_field_reservation_path(@field.id), class: 'btn btn-primary' %>
      <% end  %>
    <%end%>
    <%= link_to 'Volver', fields_path, id: "boton_azul", class: 'btn btn-primary' %>
  </div>
</div>
